{% extends "base.html" %}

{% block body %}
<div class="auth-container">
  <h2>Login</h2>

  <form method="POST" action="{{ url_for('journal.login') }}">
    {{ form.hidden_tag() }}
    <div class="form-group">
        {{ form.email.label }} {{ form.email(class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.password.label }} {{ form.password(class="form-control") }}
    </div>
    <div class="form-group">
        {{ form.remember() }} Remember me
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
</form>

  <p class="switch-link">
    Don’t have an account?
    <a href="{{ url_for('journal.register') }}">Register here</a>.
  </p>
</div>
{% endblock %}
